<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goal Quest Soccer</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/Q.png' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'home' %}">Goal Quest Soccer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'team_list' %}">Teams</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'match_list' %}">Matches</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'news_list' %}">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop_home' %}">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'cart_detail' %}">Cart</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <!-- Social Media Links -->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <a href="https://web.facebook.com/mfm.twostars" class="btn btn-outline-primary btn-sm">Facebook</a>
                    <a href="https://x.com/MFMtwostars" class="btn btn-outline-info btn-sm">Twitter</a>
                    <a href="https://www.instagram.com/twostarsmfm?igsh=YzljYTk1ODg3Zg==" class="btn btn-outline-danger btn-sm">Instagram</a>
                </div>
                
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="{% url 'privacy' %}" class="text-dark">Privacy Policy</a></li>
                        <li><a href="{% url 'terms' %}" class="text-dark">Terms of Service</a></li>
                        <li><a href="{% url 'support' %}" class="text-dark">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2024 Goal Quest
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
